<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dicer_arm_confv2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.8478E-08 0.045209 0.011654"
        rpy="0 0 0" />
      <mass
        value="1.2192" />
      <inertia
        ixx="0.0026863"
        ixy="2.2855E-10"
        ixz="1.885E-10"
        iyy="0.0073576"
        iyz="-2.3798E-05"
        izz="0.0098799" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="2.6111E-05 0.032065 0.074256"
        rpy="0 0 0" />
      <mass
        value="0.34735" />
      <inertia
        ixx="0.0004136"
        ixy="-2.218E-08"
        ixz="4.0455E-07"
        iyy="0.0005331"
        iyz="-1.7648E-05"
        izz="0.00024227" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0.05923 0.077"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0020051 0.21873 -0.023798"
        rpy="0 0 0" />
      <mass
        value="1.0469" />
      <inertia
        ixx="0.0019691"
        ixy="5.5809E-05"
        ixz="-5.9991E-06"
        iyy="0.00095213"
        iyz="9.9465E-05"
        izz="0.0023928" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.49804 0.49804 0.49804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 -0.017 0.1165"
      rpy="1.5708 -1.5708 0" /> 
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.18879"
      upper="0.00000"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.0014488 -0.060369 -0.008698"
        rpy="0 0 0" />
      <mass
        value="0.49703" />
      <inertia
        ixx="0.0015508"
        ixy="-7.1129E-05"
        ixz="-1.6748E-05"
        iyy="0.00048269"
        iyz="-0.0001533"
        izz="0.0016851" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.49804 0.49804 0.49804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.056326 0.43175 0"
      rpy="0 0 0.2" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.00000"
      upper="3.40339"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.00031656 -0.0052206 0.055039"
        rpy="0 0 0" />
      <mass
        value="0.26427" />
      <inertia
        ixx="0.00028078"
        ixy="8.3196E-07"
        ixz="5.0153E-08"
        iyy="0.00029264"
        iyz="2.0275E-05"
        izz="8.1628E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.0083883 -0.21033 -0.016"
      rpy="1.5157 1.5708 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0.094774 -0.9955" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.00324138735582469 -0.0491171799377679 -0.0333859007032062"
        rpy="0 0 0" />
      <mass
        value="0.176232004746393" />
      <inertia
        ixx="0.000118756529816677"
        ixy="-9.61698250555991E-07"
        ixz="-4.89044635141133E-06"
        iyy="8.9648729603517E-05"
        iyz="-1.62391438317864E-06"
        izz="6.60943336243957E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="-0.033439 -0.013485 0.16296"
      rpy="-1.5708 -0.055057 1.5708" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0.060233 -0.0024022 0.99818" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-0.003664 0.00074589 -0.041672"
        rpy="0 0 0" />
      <mass
        value="0.24097" />
      <inertia
        ixx="0.00011433"
        ixy="-1.5042E-07"
        ixz="1.3892E-06"
        iyy="0.00011134"
        iyz="-3.0338E-06"
        izz="5.1016E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dicerox_arm_confv2/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="-0.0038909 -0.081813 -0.032635"
      rpy="1.5708 0 3.1416" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="-0.023518 0.00098673 0.99972" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
</robot>